*{
    font-family:"Raleway", sans-serif;
    
}
input::placeholder {
    color:white;
}
body,h1 {
        color:white;
}
h1 {
        font-size: 50px;
}
body, html {
        height: 100%;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
}
.background-img {
    background-image: url('images/fog-bg.jpg');
    min-height: 100%;
    background-position: center;
    background-size: cover;
}
.topleft {
    position: absolute;
    top: 15px;
    left: 16px;
}
.send {
    background:transparent; 
    border:none;
    outline:none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}
label {
  cursor:pointer;
  font-size: 20px;
}
.send:focus {
    border:none;
    cursor:pointer;
}
.send:active {
  transform: translateY(4px);
}
.bottomleft {
    position: absolute;
    bottom: 0;
    left: 16px;
}
.middle {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
hr {
    margin: auto;
    width: 100%;
}
input {
  color:white;
  background:transparent;
  margin-bottom:3px;
  padding:10px;
  width: 100%;
  border:1px solid #CCC
}
